/* ここに CSS のコードを書きましょう */

h2{
    text-align: center;

}

h1{
    font-size: 200px;
}


h4{
    position: relative;
    top: 150px;

}






.wrapper {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
  }
  
  .wrapper::before {
     content: '';
     display: block;
     width: 100%;
     height: 100%;
     background-image: url(https://www.toyota.co.jp/company/gakuen/news/event/image/24000108.jpg?p=24011514:142600);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     -webkit-animation: zoom 10s 1;
     animation: zoom 10s 1;
     animation-fill-mode: forwards;
  }
  
  @keyframes zoom {
     0% {
        transform: scale(1);
     }
     100% {
        transform: scale(1.5);
     }
  }
  
  .text{
    /*wrapperの中身を上下中央揃え*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 800px;
    height:100px;
    background-color: #fff;
    text-align: center;
  }
.text{
    font-size: 80px;
}























.card1{

    height: 400px;
    width: 400px;
    background-color:blue;
    padding-top: 100px;
    border: 1px solid yellow;
    box-sizing: border-box;
    background-image:url(https://static.chunichi.co.jp/image/article/size1/b/1/2/1/b121932f6930c64ad0ac7d153d671813_1.jpg) ;
}

.card1{
    text-align: center;
    color: greenyellow;
    font-size: 40px;
    justify-content: space-evenly;

}

.card1:hover{
    color: aqua;
    background-color: brown;
    
}





.card2{
    text-align: center;
    height: 400px;
    width: 400px;
    background-color : orange;
    padding-top: 100px;
    border: 1px solid yellow;
    box-sizing: border-box;
    background-image:url(https://img.olympics.com/images/image/private/t_s_16_9_g_auto/t_s_w960/f_auto/primary/wqylhylfng8uz0ennxiq) ;
    

}


.card2{
    text-align: center;
    color :greenyellow;
    font-size: 40px;
    
}

.card2:hover{
    color: aqua;
    background-color: brown;
}


.card3{
    text-align: center;
    color :greenyellow;
    font-size: 40px;
    
}


.card3{
    text-align: center;
    height: 400px;
    width: 400px;
    background-color : orange;
    padding-top: 100px;
    border: 1px solid yellow;
    box-sizing: border-box;
    background-image:url(https://www.japan-baseball.jp/img/news/press/20230322_1_1-1.jpg) ;
    

}

.card3:hover{
    color: aqua;
    background-color: brown;

}




.field{
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}


h2{
    text-align: center;
    position: relative;
    top: 150px;
}




.flex {
     background-color: orange;
     display: flex; /*横並び*/
  }
  .flex .image {
    width: 60px; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
  }
  .flex .image img {
    width: 50%;
    height: auto;
  }
  .flex.text {
    margin: 0 0 0 20px;
    padding: 0;
  }
.flex{
    position: relative;
    top: 150px;
    width: 100%;
    height: 250px;
}







.button1{
    position: relative;
    top: 150px;
}
.button2{
    position: relative;
    top: 150px;
}

.button3{
    position: relative;
    top: 150px;
}


.詳細{
    width: 4000px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.詳細{
font-size: 40px;
}